<div class="page-container">
    <div class="action-container">
        <div class="header-page-container">
            <h2>{{pageType.type}} Page {{page.id}}</h2>
            <a matRipple [matRippleUnbounded]="false" routerLink="/app/pages" class="go-back">
                <mat-icon>arrow_back_ios</mat-icon>
                Back
            </a>
        </div>
        <div class="editor-form">
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field class="input-full-width">
                        <mat-label>Page Slug</mat-label>
                        <input matInput autocomplete="off" [(ngModel)]="page.slug">
                    </mat-form-field>

                </div>
                <div class="col-md-4">
                    <mat-form-field class="input-full-width">
                        <mat-label>Page Parent</mat-label>
                        <mat-select [(ngModel)]="page.pid">
                            <mat-option [value]="'0'">
                                Without parent
                            </mat-option>
                            <mat-option *ngFor="let p of allPages" [value]="p.id">
                                {{p.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-2 checkbox-block">
                    <section class="input-full-width">
                        <mat-checkbox class="example-margin" [(ngModel)]="page.is_special">Special Page</mat-checkbox>
                    </section>
                </div>
                <div class="col-md-2 checkbox-block">
                    <section class="input-full-width">
                        <mat-checkbox class="example-margin" [(ngModel)]="page.is_show">Show Item</mat-checkbox>
                    </section>
                </div>
            </div>
            <div class="content-translations">
                <mat-tab-group [color]="'primary'" >
                    <mat-tab *ngFor="let trans of translations" label="{{trans.lang}}">
                        <div class="translation-field">
                            <mat-form-field class="input-full-width">
                                <mat-label>Name</mat-label>
                                <input matInput autocomplete="off" [(ngModel)]="trans.trans_name">
                            </mat-form-field>
                        </div>
                        <div class="content-editor">
                            <angular-editor [(ngModel)]="trans.content" [config]="editorConfig"></angular-editor>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
        <div class="save-block">
            <button matRipple [matRippleUnbounded]="false" (click)="page.id != '' ? updatePage() : createPage();">
                <mat-icon>save</mat-icon>
                {{pageType.btn_form}}
            </button>
        </div>
    </div>
</div>